
/*
Color palette from pixel phone

Dark color: 96, 79, 70
Medium color: 205, 162, 140
Light color: 226, 192, 174
*/
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*Creates smooth transitions when doing auto anchor scroll*/
    scroll-padding-top: 47px; /* height of sticky header when shrunk (Experimental to fix anchor bookmarks)*/
}
body {
    background: #fefefe;
    font-family: 'Manrope', sans-serif;    
    font-weight: 400;
    line-height: 1.6em;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 239, 236); /*Material you background color*/
    /*Important because first we need main-content to disaply as inline block
    in order to avoid overlapping with other divs
    But then inline block will nalway float to the right
    So putting text-align: center; in the body css fixes this*/
    text-align:center; 
    margin:0; /*Make navbar, body and wide images all reach the very max of the window width */
    overflow-x: hidden;
}
hr{
    height: 1px;
    /*Setting border to 0 and border-top to 1px, get a true 1px hr*/
    border:0;
    border-top: 1px solid rgb(222,222,222); /*For light mode*/
    border-top: 1px solid rgb(56, 62, 64); /*For dark mode*/
}

/*
p{
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 40px;
}
*/
.text{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(104, 96, 95);
    line-height: 40px;
}



.link-area{
    color:#1f1f1f; /*Needed for the ">" sign after a link*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    /*border: 1px solid rgb(128, 0, 0);*/
}
.button{
    position:relative;
    display:flex;
    /*border: 1px solid rgb(96, 79, 70); /*required*/
    border-radius: 25px;
    font-size: 14px;
    padding: 6px 25px;
    background-color: rgb(226, 192, 174);
}
.button:hover{
    background-color: rgb(96, 79, 70);
    cursor: pointer;
}
.button:hover .link-text{
    color:white;
}
.button:hover .material-symbols-outlined{
    color:white;
}
.button:hover img{
    filter: invert(1);
}


/*How the blue links will behave*/
.link-area a:link{
    color:black; /*Make sure links are blue by default*/
    text-decoration:none; /*If we dont have this, the link will be underlined by default*/
}
.link-area a:visited{
    color:black; /*Make sure visited links still stay blue*/
}


.link-icon{
    width:20px;
    padding-right:6px;
    padding-top:5px;
    /*border: 1px solid red;*/
}
/*For the icons from google*/
.material-symbols-outlined {
  font-size:17px;
  padding-right:5px;
  padding-top: 4px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  /*border: 1px solid red;*/
}
.link-text{
    color: rgb(0, 0, 0);
    /*border: 1px solid aqua;*/
}


.big-title{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 500%;
    color:rgb(255, 255, 255);
    line-height:1.1em;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /*border: 1px solid aqua;*/
}

.title{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 300%;
    color:rgb(0, 0, 0);
    line-height:1.1em;
    text-align: center;
    padding-bottom: 9px;
    padding-top: 5px;
}

/*
.small-content p{
    font-size: 1.0em;
    line-height: 1.6em;
}*/

.quote{
    position: relative;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(255, 255, 255);
    bottom: 20px;
    /*border: 1px solid aqua;*/
}


.text-section{
    position:relative;
    background-color: rgb(255, 248, 245);
    width: 100%;
    border-radius: 2%/8%;
    /*border: 1px solid rgb(128, 0, 0);*/
}







.main-content{
    /*Make the div not overlap with other div*/
    /*But causes entire div to float left, fix with text-align center in body*/
    display:inline-block; 
    /*Needed to overcome the text-align center of the body*/
    text-align: center; 
    width:1200px;
    /*border: 1px solid blue;*/
}
.section-card{
    position:relative;
    border-radius: 2%/6%;
    min-height: 400px;
    width:100%;
    /*border: 1px solid blue;*/
}
#portfolio-background{
    background-image: url(images/beige.jpg);
    background-position: center;
    background-size:cover;
}
#project-background{
    background-image: url(images/google2.jpg);
    background-position: center;
    background-size:cover;
}
.small-content{
    text-align: center;
    width:1200px; 
    margin: auto; /*for some reason needed to keep content in the middle*/
    /*border: 1px solid green; */
}

.very-small-content{
    text-align: center;
    width:1200px; 
    margin: auto; /*for some reason needed to keep content in the middle*/
    /*border: 1px solid green; */
}


.left-column{
    float: left;
    width:48%;
    /*border: 1px solid red;*/
}
.right-column{
    float: right;
    width:50%;
    /*border: 1px solid blue;*/
}

.wide-image{
    width:100%;
    border-radius: 2%/3%;
}

.main-content .large-image{
    width:100%;
}
.medium-image-right{
    /*width:398px;*/ /*old value*/
    width:80%;
    border-radius:2%/4%;
    float:right;
}

#weather-phone{
    width:250px;
}
.medium-image-left{
    width: 80%;
    border-radius:2%/4%;
}





 /*Create a sticky/fixed navbar*/
 #navbar{
    /*background-color: rgba(255, 255, 255, 0.77); /*background color of navbar (default is white) */
    background-color:white;
    /*backdrop-filter: blur(30px);*/
    padding-top: 6px; /*give the navbar the desired thickness*/
    padding-bottom: 6px; /*give the navbar the desired thickness*/
    /*transition: 0.4s; /*transition effect length when padding is decreased */
    position: fixed; /*this make it sticky/fixed nav bar*/
    width: 100%; /*Make sure navbar take full span of screen*/
    top: 0; /* 0 pixels away from the top */
    z-index: 99; /* make sure its always on top of everything else: put a big value */
    box-shadow: none;
    /*border: 1px solid orange; /*for testing puposes*/
}
/*Style the navbar links*/
#navbar a {
    text-decoration: none;
    float: left; /*All of the navbar links float on same line (left)*/
    /*Padding around each link*/
    padding: 10px 12px; /*top and bottom: 10px, right and left: 12px */
    color: #5f6368; /*color of the links in the navbar*/
    line-height: 25px; /*the height of the navbar link button */
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
/*Style the logo*/
#navbar #logo {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px; /*font size of logo*/
    /*transition: 0.4s; /*transition speed of the logo when navbar size changes */
    float: left; /*logo floats to left by default*/
    padding-left:0;
    margin-bottom: 1px;
    /*border: 1px solid blue; /*for testing puposes*/
}
/*position of the links*/
#navbar-right {
    float:right;
    font-size: 14px;
    /*border: 1px solid red; /*for testing puposes*/
}
/*behaviour of the nav links*/
#navbar a:hover{
    color: black;
    transition: 0.3s;
    /*border-bottom: 3px solid black;*/
}
#navbar a.active{
    border-bottom: 3px solid rgb(96, 79, 70);
}
/*This is for both the logo and navbar links*/
#navbar-content{
    width:95%;
    margin: auto;
    /*border: 1px solid purple; /*for testing puposes*/
}
/*Make burger icon normally invisible*/
#burger-icon{
    display:none; /*By default burger icon not visible*/
    /*border: 1px solid red;/*for testing puposes*/
}


.categories{
    /*border: 2px solid green;*/
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 14px;
}
.catcard{
    position:relative;
    text-align: center;
    height: 460px;
    width:289px;
    border-radius: 4%/2%;
    overflow:hidden;/*needed so that image zoom doesnt spill out of div*/
    flex-shrink:1;
    /*border: 1px solid green;*/
}

/*Use CSS Nesting, so when we hover over the cat card, then we also activate attributes of another css element cat-image*/
.catcard:hover{
    cursor: pointer;

    > .cat-image{
        filter:brightness(35%);
        transform:scale(1.1);
    }
}

.cat-image{
    border-radius: 4%/2%;
    filter:brightness(60%);
    object-fit: cover;
    height:460px;
    width:289px;
    transition: 0.4s; 
}
.cat-title{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 22px;
    color:white;
    user-select: none;
}
.fake-button{
    position: absolute;
    font-size: 13px;
    font-weight:500;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 4px 25px;
    display:inline;
    top:85%;
    left:33%;
}
/*
#cat4{
    background-image: url(images/cat4.jpg);
    background-position: center;
    background-size: cover;
}
*/




/*CSS related to the staggering icons*/
.container-two-column-cards{
    width:60%;
    /*border: 1px solid red;*/
    margin: 50px auto;
}
.card-container {   /*Currently not used*/
    width: 100%;
    margin: 50px auto;
    border: 3px solid green;
}

.two-column-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*4 columns*/
    grid-auto-rows: auto; /*how tall is one row*/
}

.three-column-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*4 columns*/
    grid-auto-rows: auto; /*how tall is one row*/
}

.five-column-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*4 columns*/
    grid-auto-rows: auto; /*how tall is one row*/
}

.card{
    /*border: 1px solid #000000;/*border around card*/
    text-align: center;
    padding: 10px 10px; /*padding inside card*/
    margin-bottom: 10%; /*margin outside card*/

    max-width: 200px; /*max width of card*/
    min-width: 200px;/*min width of card*/
    max-height: 200px; /*max height of card*/
    min-height: 200px;/*min height of card*/

    /*make image centered inside block*/
    margin-left: auto;
    margin-right: auto;

    background: rgb(39, 39, 39); /*Color of card*/
    color: rgb(255, 255, 255);/*Text color*/
    text-decoration: none; /*removes underline from text, since underline appears when make card a link*/
    border-radius: 5%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 
                0 3px 2px rgba(0, 0, 0, 0.2), 
                0 7px 7px rgba(0, 0, 0, 0.15),
                0 0.5px 0px 0 rgba(255, 255, 255, 0.3) inset; /*inset creates shadow inside the box, needed to add the light shine on top of box*/
}

.card-image {
    text-align: center;
    /*border: 1px solid green;*/
    max-width:115px; /*max width of image*/
    min-width:115px; /*min width of image*/

    padding-top: 25px;
    
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    height:70%; /*image takes 70% of card*/
}

.card-title {
    /*border: 1px solid rgb(200, 0, 0);*/
    padding: 5px 5px;
    text-align: center;
    /*font-size: 18px;*/
    height:30%; /*text takes 30% of card*/
}

.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 1),
                0 0.5px 0px 0 rgba(255, 255, 255, 0.3) inset; /*inset creates shadow inside the box, needed to add the light shine on top of box*/
    transition-delay: 0ms;     
}

.hidden{  /*for the staggering icons*/
    opacity:0;
   /* filter: blur(5px);*/
    transform: translateX(-5%);
    transition: all 0.5s;
}

.show{
    opacity:1;
    /*filter:blur(0);*/
    transform: translateX(0);
    transition-delay: var(--delay);
}

/*For quotes animation*/
.reveal{
    /*transform: translateY(150px);*/
    opacity: 0;
    transition: 2.5s all ease;
}
.reveal.active{
    /*transform: translateY(0);*/
    opacity: 1;
 }



@media screen and (max-width: 1340px){
    .five-column-cards{
        grid-template-columns: repeat(4, 1fr); /*2 columns*/
    }
    #spacer{
        display:none;
    }
}

@media screen and (max-width: 900px){
    .container-two-column-cards{
        width:100%;
    }
    .five-column-cards{
        grid-template-columns: repeat(3, 1fr); /*2 columns*/
    }
}

@media screen and (max-width: 680px){
    .five-column-cards{
        grid-template-columns: repeat(2, 1fr); /*2 columns*/
    }
    

}

/*End of stagerred icons section*/

/*FOR SMALLER SCREENS*/
@media screen and (max-width: 1340px){
    #navbar-content{
        width:95%;
    }
    .main-content{
        width:100%;
        padding-left:5%;
        padding-right:5%;
    }
    .small-content{
        width:auto;
        padding-left:5%;
        padding-right:5%;
    }
    .left-column{
        width: 100%;
    }
    .right-column{
        width:100%;
    }
    .very-small-content{
        width: 100%;
        padding-left:5%;
        padding-right:5%;
    }
    .medium-image-right{
        float:none;
        width:49%;
    }
    .medium-image-left{
        width:49%;
    }
    
}


/*FOR EVEN SMALLER SCREENS*/
@media screen and (max-width: 700px){
    .main-content{
        width:100%;
        text-align: center;
    }
    .small-content{
        width:auto;
    }
    .left-column{
        width: 100%;
    }
    .right-column{
        width:100%;
    }
    .very-small-content{
        width: 100%;
    }

    .medium-image-right{
        width:100%;
    }
    .medium-image-left{
        width:100%;
    }

    /****** Navbar Small Screen ******/
    #navbar{ /*Entire navbar when screen small*/
        padding: 0px 0px  !important; /*Since menu vertical, reduce top and bottom padding*/
        backdrop-filter: none; /*when screen is small need to set blur to none, otherwise navbar will glitch and burger wont open properly*/
    }
    #navbar a{ /*All links in navbar*/
        float: none;    /*makes the nav links stacked vertically */
        display: block; /*makes the nav links stacked vertically */
        padding: 3px;   /*reduce padding between links */
        padding-top: 10px;
        text-align: left;
        transition: 0.3; /*is this even needed???????????????????*/
        /*border: 1px solid purple;*/
    }

    #navbar #logo {
        text-align: center;
        float: right; /*When window is small, logo appears on right side*/
        padding: 8 12px; /* Add padding under logo, so not too close to links*/
        margin-right: 2%; /*Add a bit of space on right side of logo when screen small*/
    }

    .anchor-links{ /*When burger menu is closed links have height of 0%*/
        width: 100%;
        height: 0%; /*When burger menu closed, vertical menu has height of 0*/
        overflow: hidden;
        transition: 0.5s; /*Transition speed when opening and closing vertical menu*/
        position: fixed;
        z-index: 100; /*Make vertical menu appear above all other content*/
        background-color: rgba(0, 0, 0, 0.7);
        top: 45px; /*How far from the top the vertical menu appears*/
        left: 0;
    }

    .anchor-links a {  /*Change the size of the Anchor links in vertical menu*/
        font-size: 120%; 
        border-bottom: 1px solid rgb(173, 173, 173);
        text-align: center;
        margin: 5%; /*Add a bit of space around all the anchor links in vertical menu*/
    }

    .anchor-links.responsive{ /*if burger menu is open */
        height:100%; /*Make vertical menu take full height of window */
        padding: 5%; /*5% padding around the collection of vertical menu links */
        backdrop-filter: blur(30px);
    }

    #burger-icon{
        display:unset; /*Make burger icon visible when screen is small */
        /*position:fixed;*/
        float: left;
        font-size: 28px; /*Font size of burger icon*/
        margin-left: 1%; /*Add a bit of spacing on left side of burger icon*/
        margin-bottom: 7px;
    }


}

/*Tiny screens*/
@media screen and (max-width: 550px){
    .quote{
        visibility: hidden;
    }
    .link-area{
        flex:50%;
        max-width:100%;
    }
}

